@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #4f260b;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  font-feature-settings: "palt";
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}

a:hover {
  opacity: 0.5;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

/* ヘッダー */

.header_wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 7% 0 3%;
  box-sizing: border-box;
}

.header_logo {
  width: 226px;
}

.pc_nav ul {
  display: flex;
}

.pc_nav ul li {
  width: 105px;
  margin-left: 55px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  text-align: center;
}

.header_slider img {
  width: 100%;
}

/* スライダー調整 */
.slick-dots {
  bottom: 20px;
}
.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  color: #fff;
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.sp_btn,
.sp_nav {
  display: none;
}

/* ギャラリー スライダー調整 */
.slick-arrow {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  color: transparent;
  z-index: 1;
  transition: opacity 0.5s;
}
.slick-next::before,
.slick-next::after,
.slick-prev::before,
.slick-prev::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  content: "";
  vertical-align: middle;
}
.slick-prev::after,
.slick-next::after {
  width: 27px;
  height: 27px;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
}

/* next */

.slick-next {
  right: 17%;
}
.slick-next::after {
  transform: rotate(45deg);
}

/* prev */

.slick-prev {
  left: 15%;
}
.slick-prev::after {
  transform: rotate(-135deg);
}

@media screen and (max-width: 1100px) {
  .pc_nav {
    display: none;
  }

  /* ハンバーガー */
  .sp_btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 25px;
    height: 23px;
    cursor: pointer;
    z-index: 2;
  }
  .sp_btn span {
    display: block;
    position: relative;
    top: 10px;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    transition: 0.3s;
  }
  .sp_btn span::before,
  .sp_btn span::after {
    content: "";
    display: block;
    position: absolute;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    transition: 0.3s;
  }
  .sp_btn span::before {
    bottom: 10px;
  }
  .sp_btn span::after {
    top: 10px;
  }

  /* ハンバーガー閉じる */
  .sp_btn.open span {
    background: transparent;
  }
  .sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  .sp_btn.open span::after {
    top: 0;
    transform: rotate(135deg);
  }

  /*ハンバーガーメニュー*/
  .sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }
  .sp_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .sp_nav ul li {
    padding: 20px 0;
    color: #fff;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
      "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  }
}

main {
  background-color: #e8d9bf;
}

.top {
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 95px;
  text-align: center;
}

.top .catch1 {
  font-size: 30px;
}

.top .catch2 {
  padding-top: 55px;
  font-size: 82px;
  line-height: 1.17;
  letter-spacing: 0.1em;
}

.top .copy {
  padding-top: 15px;
  font-size: 23px;
  line-height: 1.65;
  letter-spacing: 0.1em;
}

.about {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px 95px 10px;
}

.about_head {
  width: 50%;
}

.about_wrap {
  display: flex;
  justify-content: space-between;
}

.about_block {
  width: 42%;
}

.about_block h2 {
  width: 272px;
  padding-top: 55px;
}

.about_title {
  padding-top: 40px;
  font-size: 44px;
  line-height: 1.38;
}

.about_text {
  padding-top: 25px;
  text-align: justify;
  font-size: 16px;
  line-height: 1.62;
}

.menu h2,
.gallery h2,
.event h2,
.access h2 {
  margin: 0 auto;
}

.menu {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px 75px 10px;
}

.menu h2 {
  width: 150px;
  padding-bottom: 35px;
}

.menu_block {
  display: flex;
  justify-content: space-between;
}

.menu_drink,
.menu_food,
.menu_sweets {
  width: 30%;
}

.menu_title {
  color: #d30202;
  margin-top: -12px;
  margin-left: 10px;
  font-size: 38px;
  font-weight: normal;
}

.menu_text {
  padding-top: 20px;
  font-size: 17px;
  line-height: 1.47;
  text-align: justify;
}

.gallery {
  margin: 0 auto;
  padding-bottom: 60px;
}
.gallery h2 {
  width: 245px;
  padding-bottom: 15px;
}

.gallery_block {
  width: 100%;
}

.event {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px 70px 10px;
}

.event h2 {
  width: 173px;
  padding-bottom: 40px;
}

.event_list {
  display: flex;
  justify-content: center;
  padding: 36px;
  background-color: #ffffff;
  border: solid 3.7px #4f260b;
  font-size: 23px;
}

.event_item {
  line-height: 1.95;
}

.event_time {
  text-align: left;
  padding-right: 55px;
}
.event_link {
  padding-left: 55px;
  text-decoration: underline solid 1px #4f260b;
}

.access h2 {
  width: 213px;
  padding-bottom: 40px;
}

.access_map iframe {
  display: block;
  width: 100%;
  height: 470px;
}

.footer {
  margin: 0 auto;
  padding: 75px 0;
}

.footer_wrap {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer_logo {
  max-width: 226px;
  padding-right: 60px;
}

.footer_content {
  padding-bottom: 75px;
}

.footer_content {
  font-size: 20px;
  color: black;
  line-height: 1.95;
}

.copyright {
  font-size: 16px;
  color: black;
  text-align: center;
}

.pagetop {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 125px;
}

/* pad_レスポンシブ */
@media screen and (max-width: 1100px) {
  /* ヘッダーロゴ */
  .header_logo {
    width: 20%;
  }

  /* ファーストビュー */
  .top .catch1 {
    font-size: 22px;
  }
  .top .catch2 {
    font-size: 55px;
  }
  .top .copy {
    font-size: 19px;
  }

  /* ABOUT US */
  .about_wrap {
    align-items: center;
  }
  .about_title {
    font-size: 39px;
  }
}

.sp_only {
  display: none;
}

/* sp_レスポンシブ */
@media screen and (max-width: 767px) {
  .sp_only {
    display: block;
  }
  .pc_only {
    display: none;
  }

  /* ヘッダー */
  .header_wrap .header_logo {
    width: 187px;
  }

  /* ファーストビュー */
  .top {
    padding: 40px 0 55px 0;
  }
  .top .catch1 {
    font-size: 17px;
  }
  .top .catch2 {
    padding-top: 22px;
    font-size: 38px;
    line-height: 1.15;
    letter-spacing: 0.02em;
  }
  .top .copy {
    padding-top: 12px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.1em;
  }

  /* ABOUT */
  .about {
    padding: 0 0 55px 0;
  }
  .about_block {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
  }
  .about_block h2 {
    width: 42%;
    padding-top: 0;
    padding-bottom: 13px;
    margin: 0 auto;
  }
  .about_title {
    padding: 35px 23px 0;
    font-size: 36px;
    line-height: 1.25;
  }
  .about_text {
    padding: 19px 23px 0;
    font-size: 16px;
    line-height: 1.75;
  }

  /* MENU */
  .menu {
    padding: 0 0 30px 0;
  }
  .menu h2 {
    width: 24%;
    margin: 0 auto;
    padding-bottom: 15px;
  }
  .menu_block {
    display: block;
  }
  .menu_block img {
    width: 100%;
  }
  .menu_drink,
  .menu_food,
  .menu_sweets {
    width: 100%;
    margin: 0 auto;
    padding: 0 37px 55px 37px;
    box-sizing: border-box;
  }
  .menu_text {
    padding-top: 28px;
    line-height: 1.58;
  }

  /* GALLERY */
  .gallery {
    padding-bottom: 25px;
  }
  .gallery h2 {
    width: 37%;
  }
  .gallery img {
    width: 100%;
  }

  /* ギャラリー スライダー調整 */
  .slick-prev::after,
  .slick-next::after {
    width: 15px;
    height: 15px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
  }
  .slick-next {
    right: 9%;
  }
  .slick-prev {
    left: 5%;
  }

  /* EVENT */
  .event {
    padding: 0 20px 27px 20px;
    box-sizing: border-box;
  }
  .event h2 {
    width: 29%;
    padding-bottom: 18px;
  }
  .event_list {
    display: block;
    padding: 20px 27px;
  }
  .event_item {
    font-size: 16px;
    padding-right: 0px;
  }
  .event_link {
    display: block;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* ACCESS */
  .access h2 {
    width: 33%;
    padding-bottom: 5px;
  }
  .access_map iframe {
    height: 191px;
  }

  /* footer */
  .footer {
    padding: 40px 10px 25px;
  }
  .footer_wrap {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .footer_logo {
    width: 68%;
    padding-bottom: 27px;
  }
  .footer_content {
    padding-bottom: 40px;
    font-size: 18px;
    line-height: 1.72;
  }
  .pagetop {
    right: 12px;
    bottom: 12px;
    width: 100px;
  }
}
