.work {
  max-width: 1000px;
  margin: 0 133px;
  padding-top: 64px;
}

/* 作品切り替えのボタン */
.btn_right {
  position: fixed;
  top: 40%;
  right: 100px;
  width: 6%;
}

.work_head {
  width: 70%;
  margin: 0 auto;
}

.work_wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 96px;
}

/* 制作実績紹介 テキスト欄 */
.work_content {
  width: 44%;
  margin: 0 auto;
  padding-right: 64px;
}
.work_ttl {
  border-left: 10px solid #476b6b;
  padding-left: 10px;
  box-sizing: border-box;
}
h2 {
  font-weight: bold;
  font-size: 32px;
}
h3 {
  font-weight: normal;
  font-size: 24px;
}
.work_text {
  margin-top: 48px;
}
.lead {
  padding: 24px 0 2px;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 2px dashed #476b6b;
}
.lead :first-child {
  padding: 0;
}
.detail {
  padding-top: 8px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

/* 制作実績紹介 キャプチャー欄 */
.work_capture {
  width: 50%;
  padding: 20px;
  border: 2px solid #476b6b;
}
.work_capture img {
  border: 1px solid #d9d9d9;
}

/* back / home ボタン  */
.btn_wrap {
  display: flex;
  padding-top: 64px;
}

footer {
  margin-top: 80px;
}
