/* about */
.about {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 120px;
}
h1 {
  width: 17%;
  margin: 0 auto;
}
.about_profile {
  width: 37%;
  margin: 88px auto 0;
  text-align: center;
  border-top: 2px solid #555555;
  border-bottom: 2px solid #555555;
}
.profile_name {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 24px;
  letter-spacing: 0.1em;
}
.profile_date {
  padding-bottom: 25px;
  font-size: 17px;
  letter-spacing: 0.1em;
}
.about_wrap {
  margin: 0 auto;
  padding-top: 80px;
}

/* about_wrap 共通項目 始め */
.about_list01,
.about_list02 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 64px;
}
.about_list01 h2,
.about_list02 h2,
.about_list03 h2 {
  color: #476b6b;
  font-size: 32px;
}
.about_list01 p,
.about_list02 p,
.about_list03 p {
  margin-top: 16px;
  font-size: 16px;
  line-height: 2;
}
/* about_wrap 共通項目 終わり */

.about_list01 img {
  width: 45%;
}
.about_list01_text {
  width: 48%;
}
.about_list02 img {
  width: 36%;
}
.about_list02_text {
  width: 57%;
}
.about_list03 {
  width: 75%;
  margin: 0 auto;
}
.about_list03 h2,
about_list03 p {
  text-align: center;
}

/* skill */
.skill {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 112px;
}
h3 {
  width: 15%;
  margin: 0 auto;
}
.skill_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  width: 80%;
  height: 500px;
  margin: 0 auto;
  padding-top: 48px;
}
.skill_list li {
  width: 30%;
  text-align: center;
}
.skill_list img {
  width: 140px;
}
.skill_list p {
  text-align: left;
  padding-top: 16px;
}
/* アコーディオン */
/*General style */

#accordion {
  padding: 112px 150px;
}
.panel-title a {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  padding-right: 20px;
}
.panel-default > .panel-heading {
  text-align: left;
}
.panel-heading {
  padding: 15px 15px;
}
.panel-body {
  background: rgb(71, 107, 107, 0.1);
}

/* Code for animation -- to change direction of chevron just change -40px to 40px and vice versa */
.glyphicon-chevron-down-custom span,
.glyphicon-chevron-up-custom span {
  width: 10px;
  height: 5px;
  background-color: rgb(99, 99, 99);
  display: inline-block;
  transition: all 0.1s linear;
}
.glyphicon-chevron-down-custom .sp-1,
.glyphicon-chevron-up-custom .sp-2 {
  transform: skewY(-40deg);
}
.glyphicon-chevron-up-custom .sp-1,
.glyphicon-chevron-down-custom .sp-2 {
  transform: skewY(40deg);
}
.glyphicon {
  top: -2px;
}

/* homeボタン */
a.btn_home {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  position: relative;
  width: 100px;
  margin: 0 0 0 auto;
  padding: 1rem 4rem;
  color: #476b6b;
  background: rgba(71, 107, 107, 0.3);
  transition: 0.3s ease-in-out;
}
a.btn_home::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px solid #476b6b;
  transition: 0.2s;
}
a.btn_home:hover {
  background: #476b6b;
  color: #fff;
}
a.btn_home:hover::before {
  top: 0;
  left: 0;
}

/* フッター */
footer {
  margin-top: 64px;
}
